GCP_PROJECT_ID=
GCP_REGION=
VITE_FIREBASE_API_KEY=AIzaSyAoQ9FRDrU3JU3VuiL5-6N8YhXygjAYcyM
VITE_FIREBASE_AUTH_DOMAIN=cricket-closet-imphal.firebaseapp.com
VITE_FIREBASE_PROJECT_ID=cricket-closet-imphal
VITE_FIREBASE_DATABASE_ID=ai-studio-talkosarchitectu-438c4707-59bb-4b28-aa84-26b8ca15c574
VITE_FIREBASE_STORAGE_BUCKET=cricket-closet-imphal.firebasestorage.app
VITE_FIREBASE_MESSAGING_SENDER_ID=1073191576544
VITE_FIREBASE_APP_ID=1:1073191576544:web:d777cbf4a049a0b5438185
VITE_FIREBASE_MEASUREMENT_ID=
VITE_FIREBASE_OAUTH_CLIENT_ID=1073191576544-rvvs8c27cj9vudnic8lov7fct8vlka6g.apps.googleusercontent.com
VITE_FIREBASE_RECAPTCHA_SITE_KEY=
